<div class="container  py-5">
    <div class="row">
        <div class="col-md-4 p-2">
           <div class="border rounded p-3">
           
            <fa-icon class="icon mb-2 d-block " [icon]="fablog"></fa-icon>
                <h3 class="mb-4"> <a [routerLink]="['blogs']" class="">Blogs</a></h3>
                <h6> <a [routerLink]="['blogs']" class="">Blogs list</a></h6>
                <h6> <a [routerLink]="['add-blog']" class="">add new blog</a></h6>
              
           </div>
        </div>
        <div class="col-md-4 p-2">
            <div class="border h-100  rounded p-3">
                <fa-icon class="icon mb-2 d-block " [icon]="famenu"></fa-icon>
                <h3 class="mb-4"><a [routerLink]="['menus']" class="">menus</a></h3>
                <h6><a [routerLink]="['menus']" class="">menus</a></h6>
               
            </div>
           
        </div>
        <div class="col-md-4 p-2">
           
           
        </div>
    </div>
   
   </div>
