<div class="row">
   <h2 class="mb-4" *ngIf="blog; else AddNew">Edit "{{blog.title}}"</h2>
<ng-template #AddNew>
    <h2 class="mb-4">Add New blog</h2>
</ng-template>
    <div class="col-12 col-lg-8 mt-3">
        <form [formGroup]="form" (ngSubmit)="save()">

            <div class="row mb-3">
                <label for="" class="col-md-2 col-form-label">title</label>
                <div class="col-md-10">
                    
                    <input class="form-control" formControlName="title" type="text" name="" id="">
                </div>
            </div>
          
            <div class="row mb-3">
                <label for="descriptionInput" class="col-md-2 col-form-label">Description</label>
                <div class="col-md-10">
                    
                    <textarea class="form-control"rows="10" formControlName="description" id="descriptionInput"></textarea>
                </div>
            </div>

            <div class="row mb-3">
                <label for="imageInput" class="col-md-2 col-form-label">Image</label>
                <div class="col-md-10">
                    <!-- <input class="form-control" type="file" name="" id="imageInput"> -->
                    <input class="form-control" formControlName="image" type="text" name="" id="">
                
                </div>
            </div>
    
    
            <button type="submit"  class="btn btn-dark d-block w-25 mt-4 ms-auto">Save</button>
        </form>
    </div>
    <div class="col-12 col-lg-4 px-3">
        <h5 class="text-center text-muted mb-2">Preview</h5>
        <div class="border rounded p-3">
            <h5 class="text-center mb-3">{{form.value.title}}</h5>
            <img class="w-100 rounded d-block my-3" src="{{form.value.image}}" alt="">
            <p class="">
                {{form.value.description}}
            </p>
        </div>

    </div>

</div>