:host ::ng-deep .ck-editor__editable_inline {
    min-height: 400px;
}
.tagItem {
flex-grow: 0;
background-color: #f8f8f8;
border: 1px solid #d6d6d6;
padding: 0.25em 0.5em;
border-radius: 5px;
width: fit-content;
}

input.selectedTagInput{
    width: fit-content !important;
}
.selectedTagInput, .tagItem> div {
    background-color: #f8f8f8;
    max-width: min-content;
    width: fit-content;
    border-radius: 5px 0 0 5px;
    flex-grow: 0;
}

.delete-tag-btn {
    background: transparent;
    outline: 0;
    border: 0;
    padding: 0;

}