/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

/* You can add global styles to this file, and also import other style files */
@import "./assets/icons/fontawsome/css/all.css";


* {
    box-sizing: border-box;
}

.tag-popover {
    width: 100%;
    max-height: 12em;
    overflow-y: scroll;
}